.env
local.py
.idea/
*.egg-info
*.pot
*.py[co]
__pycache__
MANIFEST
dist/
docs/build/
.vagrant/
*.sqlite3
docker-compose.yml
local_commands.sh
local_requirements.txt
dump.rdb
celeryev.pid

tests/coverage_html/
.coverage
coverage.xml
htmlcov/
tests/report/
tests/speed_tests/transaction_dumps/*
tests/speed_tests/results/*
logs/*
venv/
*~
\#*
.static
encrypteddata
*.sql
